@import url('https://fonts.googleapis.com/css2?family=Abel&family=Karla&family=Anton&family=Arizonia&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Fascinate&family=La+Belle+Aurore&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Belle';
    src: url('/fonts/Belle.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'American-Typewritter';
    src: url('/fonts/American Typewriter Regular.ttf') format('opentype');
    font-weight: normal;
    font-style: normal;
}


@keyframes glitch {
    0% {
        clip-path: inset(0 95% 0 5%);
    }

    20% {
        clip-path: inset(0 75% 0 15%);
    }

    40% {
        clip-path: inset(0 45% 0 35%);
    }

    60% {
        clip-path: inset(0 25% 0 55%);
    }

    80% {
        clip-path: inset(0 5% 0 75%);
    }

    100% {
        clip-path: inset(0 95% 0 5%);
    }
}

.animate-glitch {
    animation: glitch 0.2s infinite steps(5, end);
    z-index: 10;
}