@import url('https://fonts.googleapis.com/css2?family=Abel&family=Anton&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Fascinate&family=La+Belle+Aurore&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Belle';
    src: url('/fonts/Belle.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}